---
import { getTypeLabel } from "../lib/directory";

interface Props {
  type: string;
}

const { type } = Astro.props;
const label = getTypeLabel(type);
---

<span class="badge badge-neutral">{label}</span>
