---
interface Props {
  useCase: string;
}

const { useCase } = Astro.props;
---

<span class="inline-block rounded-full border border-black/10 px-3 py-1 text-xs font-medium text-neutral-600">
  {useCase}
</span>
